<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<!-- bootstrap css -->
  	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>Todo App</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-6" id="bigTitle">
				<img src="http://i.imgur.com/OvMZBs9.jpg">;
			</div>
		</div>
	
		<div class="row">
	
			<div class="col-md-6 col-md-offset-2">
				<button id="newTask"><h3 id="addNewTask">Add a New Task</h3></button>
			 	<div id="formDiv">
			 	  <form>
					<input type= "text" class="form-control" name="task" value= "" placeholder="What Task You Have To Do?">	
					<input type= "text" class="form-control" name="due" value= "" placeholder="Untill When You Can Do This Task?">
					<input type= "text" class="form-control" name="assign" value= "" placeholder="Who This Task Assigned to?">
					<input type="submit" id="submitButton" class="btn btn-default" value="Add This Task To My Todo List">	
				  </form>
			 	</div>				
			</div>
		</div>
		<div class="row">
			<div class="col-md-6" id="subtitle">
				<h2>What you have to do...</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<ol id="tasksList">
					<script id= "listOfTodos" type="text/x-hendlebars-template">
						{{#each todo}}
						<li><strong>Task:</strong> {{title}} <strong>Due:{{dueDate}}</strong><strong>Assign To:{{assignedTo}}</strong> 
						</li>
						{{/each}}
					</script>
				</ol>
			</div>
		</div>
	</div>


	<!-- handlebars -->
  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

	<!-- jquery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  	<!-- bootstrap js -->
 	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- custom script -->
	<script type="text/javascript" src="main.js"></script>



</body>
</html>